<script>
import axios from "axios";

export default {
  data() {
    return {
      crawls: [],
    };
  },
  methods: {
    async getCrawls() {
      this.crawls = await (
        await axios.get("http://localhost:8081/last/35")
      ).data;
    },
    todo: function () {
      this.intervalid1 = setInterval(
        function () {
          this.getCrawls();
        }.bind(this),
        500
      );
    },
  },
  mounted() {
    this.todo();
  },
};
</script>

<template>
  <button @click="getCrawls">Get Last Crawls</button>

  <ul>
    <li
      v-for="crawl in crawls.slice().reverse()"
      :key="crawl.id"
      test-data="crawls"
    >
      {{ crawl.ID }} ---
      <a v-bind:href="crawl.URL" target="_blank">{{ crawl.URL }}</a>
    </li>
  </ul>
</template>

<style scoped>
a {
  color: #42b983;
}
</style>
